<div class="container" [ngClass]="{ 'is-mobile': layout.smallWidth() }">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleNav()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Docuform</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                        [style.marginTop.px]="layout.smallWidth()">
    <mat-sidenav #snav [mode]="layout.smallWidth() ? 'over' : 'side'"
                [fixedInViewport]="layout.smallWidth()" fixedTopGap="56">
      <mat-nav-list>
          <a
            mat-list-item
            *ngFor="let link of links"
            [routerLink]="link.path"
            [activated]="router.url === link.path"
            (click)="onClickNav(link.uniqueName)"
          >
            <div class="link">
              <mat-icon [fontIcon]="link.iconoName"></mat-icon>
              <span>{{ link.name }}</span>
            </div>

          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
