<div
    class="cards-container"
    [style]="maxHeighFieldsDiv()"
>
    <mat-card appearance="outlined" class="card-field">
        <mat-card-content class="card-field--content">
            Field Name Added

            <div>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            </div>
        </mat-card-content> 
    </mat-card>
</div>