/* You can add global styles to this file, and also import other style files */

/* GLOBAL STYLES */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}

/* UTILITIES */
.w-100 {
  width: 100%;
}

.grow-1 {
  flex-grow: 1;
}

.pointer {
  cursor: pointer;
}

.card-hover:hover {
  background-color:#ebf5fb  ;
}

/* MATERIAL */
.mat-grid-tile.create-form-content .mat-grid-tile-content {
  align-items: start;
}

.mat-grid-tile.preview-container .mat-grid-tile-content {
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  padding: 0.5rem;
}