
<mat-card appearance="outlined" >
  <mat-card-header  class="header">
    <mat-card-title  class="header-title"> 
      <img src="/logo.svg" alt="logo_letra" width="100" >
      Welcome
     </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions">
        <button mat-flat-button extended class="w-100">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <a mat-button class="flex align-items-center">Create an account</a>
  </mat-card-actions>
</mat-card>
